#One a:link, a:visited{
	text-decoration: none;
	color: blue;
}
#One a:hover{
	text-decoration: underline;
	color: green;
}

#Two a:link, a:visited{
	text-decoration: underline;
	color: red;
}
#Two a:hover{
	text-decoration: line-through;
	color: blue;
}

#Three a:link, a:visited{
	text-decoration: none;
	color: black;
} 
#Three a:hover{
	color: red;
	text-decoration: overline;}

